<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Home page</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <meta name="description" content="Default Description"/>
    <meta name="keywords" content="Magento, Varien, E-commerce"/>
    <meta name="robots" content="INDEX,FOLLOW"/>
    <link rel="icon" href="skin/frontend/default/theme423/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="skin/frontend/default/theme423/favicon.ico" type="image/x-icon"/>
    <link href="http://fonts.googleapis.com/css?family=Playfair+Display" rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Berkshire+Swash" rel='stylesheet' type='text/css'>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/superfish.js"></script>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/scripts.js"></script>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/easyTooltip.js"></script>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/jquery.iosslider.min.js"></script>
    <!--[if lt IE 7]>
    <script type="text/javascript">
        //<![CDATA[
    var BLANK_URL = 'http://livedemo00.template-help.com/magento_42124/js/blank.html';
    var BLANK_IMG = 'http://livedemo00.template-help.com/magento_42124/js/spacer.gif';
//]]>
</script>
<![endif]-->
    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img
                src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/></a>
    </div>
    <![endif]-->
    <!--[if lt IE 9]>
    <style>
        body {
            min-width: 960px !important;
        }
    </style>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="skin/frontend/default/theme423/css/styles.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="skin/frontend/default/theme423/css/responsive.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="skin/frontend/default/theme423/css/superfish.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="skin/frontend/default/theme423/css/camera.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="skin/frontend/base/default/css/widgets.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="skin/frontend/default/theme423/css/ecommerceteam/cloud-zoom.css"
          media="all"/>
    <link rel="stylesheet" type="text/css" href="skin/frontend/default/theme423/css/print.css" media="print"/>
    <script type="text/javascript" SRC="js/prototype/prototype.js"></script>
    <script type="text/javascript" SRC="js/lib/ccard.js"></script>
    <script type="text/javascript" SRC="js/prototype/validation.js"></script>
    <script type="text/javascript" SRC="js/scriptaculous/builder.js"></script>
    <script type="text/javascript" SRC="js/scriptaculous/effects.js"></script>
    <script type="text/javascript" SRC="js/scriptaculous/dragdrop.js"></script>
    <script type="text/javascript" SRC="js/scriptaculous/controls.js"></script>
    <script type="text/javascript" SRC="js/scriptaculous/slider.js"></script>
    <script type="text/javascript" SRC="js/varien/js.js"></script>
    <script type="text/javascript" SRC="js/varien/form.js"></script>
    <script type="text/javascript" SRC="js/mage/translate.js"></script>
    <script type="text/javascript" SRC="js/mage/cookies.js"></script>
    <script type="text/javascript" SRC="js/ecommerceteam/cloud-zoom.1.0.2.min.js"></script>
    <!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css" href="css/styles-ie.css" media="all"/>
    <![endif]-->
    <!--[if lt IE 7]>
    <script type="text/javascript" src="js/lib/ds-sleight.js"></script>
    <script type="text/javascript" src="skin/frontend/base/default/js/ie6.js"></script>
    <![endif]-->
</head>
<body class=" cms-index-index cms-home">
<div class="wrapper">
<noscript>
    <div class="global-site-notice noscript">
        <div class="notice-inner">
            <p>
                <strong>JavaScript seems to be disabled in your browser.</strong><br/>
                You must have JavaScript enabled in your browser to utilize the functionality of this website. </p>
        </div>
    </div>
</noscript>
<div class="page">
<div class="header-container">
    <div class="container_24">
        <div class="grid_24">
            <div class="header">
                <div class="header-buttons">
                    <div class="row-1">
                        <!--<div class="header-button currency-list">-->
                        <!--<a href="#">$</a>-->
                        <!--<ul>-->
                        <!--<li>-->
                        <!--<a href="directory/currency/switch/currency/GBP/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVsc597C1D5C"-->
                        <!--title="GBP">British Pound Sterling - GBP</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="directory/currency/switch/currency/EUR/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscA01544CF"-->
                        <!--title="EUR">Euro - EUR</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="directory/currency/switch/currency/USD/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVsc172B06E9"-->
                        <!--title="USD">US Dollar - USD</a>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                        <div class="header-button lang-list">
                            <a href="#"></a>
                            <ul>
                                <li>
                                    <a href="" title="en_US">English</a>
                                    <span></span>
                                <li>
                                    <a href="" title="ru_RU">Russian</a>
                                    <span>ru</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="quick-access">
                        <div class="header-links">
                            <ul class="links">
                                <!--<li class="first"><a href="customer/account/index.htm" title="My Account">My Account</a>-->
                                <!--</li>-->
                                <!--<li><a href="checkout/cart/index.htm" title="My Cart" class="top-link-cart">My Cart</a>-->
                                <!--</li>-->
                                <!--<li><a href="checkout/index.htm" title="Checkout" class="top-link-checkout">Checkout</a>-->
                                <!--</li>-->
                                <!--<li class=" last"><a href="wishlist/index.htm" title="My Wishlist">My Wishlist</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <h1 class="logo"><strong>Magento Commerce</strong><a href="index.htm" title="Magento Commerce"
                                                                     class="logo"><img
                        SRC="skin/frontend/default/theme423/images/logo.png" alt="Magento Commerce"/></a></h1>

                <div class="clear"></div>
                <div class="row-2">
                    <div class="block-cart-header">
                        <div class="block-content">
                            <p class="empty"><span class="cart-title">My Cart:</span>0 item(s)</p>
                        </div>
                    </div>
                    <script>
                        jQuery('.block-cart-header .cart-content').hide();
                        if (jQuery('.container_24').width() < 800) {
                            jQuery('.block-cart-header .summary, .block-cart-header .cart-content').click(function () {
                                        jQuery('.block-cart-header .cart-content').stop(true, true).slideToggle(300);
                                    }
                            )
                        }
                        else {
                            jQuery('.block-cart-header .summary, .block-cart-header .cart-content').hover(
                                    function () {
                                        jQuery('.block-cart-header .cart-content').stop(true, true).slideDown(400);
                                    },
                                    function () {
                                        jQuery('.block-cart-header .cart-content').stop(true, true).delay(400).slideUp(300);
                                    }
                            );
                        }
                    </script>
                    <p class="welcome-msg">Welcome to our online store! </p>

                    <div class="clear"></div>
                    <form id="search_mini_form"
                          action="http://livedemo00.template-help.com/magento_42124/catalogsearch/result/" method="get">
                        <div class="form-search">
                            <label for="search">Search:</label>
                            <input id="search" type="text" name="q" value="" class="input-text" maxlength="128"/>
                            <button type="submit" title="Search" class="button"><span><span>Search</span></span>
                            </button>
                            <div id="search_autocomplete" class="search-autocomplete"></div>
                            <script type="text/javascript">
                                //<![CDATA[
                                var searchForm = new Varien.searchForm('search_mini_form', 'search', '');
                                searchForm.initAutocomplete('catalogsearch/ajax/suggest/index.htm', 'search_autocomplete');
                                //]]>
                            </script>
                        </div>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="nav-container">
    <div class="container_24">
        <div class="grid_24">
            <div id="menu-icon">Categories</div>
            <ul id="nav" class="sf-menu">
                <li class="level0 nav-1 first level-top"><a href="bracelets.html"
                                                            class="level-top"><span>Bracelets</span></a></li>
                <li class="level0 nav-2 level-top parent"><a href="earrings.html"
                                                             class="level-top"><span>Earrings</span></a>
                    <ul class="level0">
                        <li class="level1 nav-2-1 first"><a
                                href="earrings/glass-earrings.html"><span>Glass Earrings</span></a></li>
                        <li class="level1 nav-2-2"><a
                                href="earrings/metal-earrings.html"><span>Metal Earrings</span></a></li>
                        <li class="level1 nav-2-3 last"><a
                                href="earrings/plastic-earrings.html"><span>Plastic Earrings</span></a></li>
                    </ul>
                </li>
                <li class="level0 nav-3 level-top"><a href="neclaces.html" class="level-top"><span>Necklaces</span></a>
                </li>
                <li class="level0 nav-4 level-top"><a href="rings.html" class="level-top"><span>Rings</span></a></li>
                <li class="level0 nav-5 last level-top"><a href="sets.html" class="level-top"><span>Sets</span></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="main-container col1-layout">
<div class="container_24">
<div class="grid_24">
<div class="main">
<div class="col-main alpha grid_24 omega">
<div class="std">
    <div class="clear"></div>
</div>
<script SRC="skin/frontend/default/theme423/js/camera.js"></script>
<script>
    jQuery(function () {
        jQuery('#camera_wrap').camera({
            alignmen: 'topCenter',
            minHeight: '154px',
            loader: 'none',
            pagination: false,
            fx: 'simpleFade',
            thumbnails: false,
            playPause: false
        });
    });
</script>
<div class="slider-wrapper">
    <div class="fluid_container">
        <div class="camera_wrap camera_orange_skin" id="camera_wrap">
            <div data-link="bracelets.html"
                 data-src="images/slides/slide1.jpg"></div>
            <div data-link="earrings.html"
                 data-src="images/slides/slide2.jpg"></div>
            <div data-link="neclaces.html"
                 data-src="images/slides/slide3.jpg"></div>
            <div data-link="magento_42124/rings.html"
                 data-src="images/slides/slide4.jpg"></div>
            <div data-link="sets.html"
                 data-src="images/slides/slide5.jpg"></div>
        </div>
    </div>
</div>
<h2 class="subtitle">New Products</h2>
<ul class="products-grid">
    <li class="item first">
        <a href="robin-fabric-button-earrings.html" title="Robin fabric button earrings"
           class="product-image"><img
                SRC="media/catalog/product/cache/1/small_image/300x/9df78eab33525d08d6e5fb8d27136e95/o/r/oB382F3CE"
                width="300" height="300" alt="Robin fabric button earrings"/></a>

        <div class="product-box-info">
            <div class="product-box-bg">
                <h3 class="product-name"><a href="robin-fabric-button-earrings.html"
                                            title="Robin fabric button earrings">Robin fabric button
                    earrings</a></h3>

                <div class="price-box">
<span class="regular-price" id="product-price-50-new">
<span class="price">$23.19</span> </span>
                </div>
            </div>
        </div>

    </li>
    <li class="item">
        <a href="pancy-blossom-bracelet.html" title="Pancy blossom bracelet"
           class="product-image"><img
                SRC="media/catalog/product/cache/1/small_image/300x/9df78eab33525d08d6e5fb8d27136e95/o/r/o1C1C625"
                width="300" height="300" alt="Pancy blossom bracelet"/></a>

        <div class="product-box-info">
            <div class="product-box-bg">
                <h3 class="product-name"><a href="pancy-blossom-bracelet.html"
                                            title="Pancy blossom bracelet">Pancy blossom
                    bracelet</a></h3>

                <div class="price-box">
<span class="regular-price" id="product-price-48-new">
<span class="price">$24.99</span> </span>
                </div>
            </div>
        </div>

    </li>
    <li class="item last">
        <a href="original-bird-red.html" title="Original bird red" class="product-image"><img
                SRC="media/catalog/product/cache/1/small_image/300x/9df78eab33525d08d6e5fb8d27136e95/o/r/o3D6983B6"
                width="300" height="300" alt="Original bird red"/></a>

        <div class="product-box-info">
            <div class="product-box-bg">
                <h3 class="product-name"><a href="original-bird-red.html" title="Original bird red">Original
                    bird red</a></h3>

                <div class="price-box">
<span class="regular-price" id="product-price-44-new">
<span class="price">$14.50</span> </span>
                </div>
            </div>
        </div>

    </li>
</ul>
<ul class="products-grid">
    <li class="item first">
        <a href="pearl-pendants-adult-and-child-on-dish.html"
           title="Pearl pendants adult and child on dish" class="product-image"><img
                SRC="media/catalog/product/cache/1/small_image/300x/9df78eab33525d08d6e5fb8d27136e95/o/r/o175CEDCB"
                width="300" height="300" alt="Pearl pendants adult and child on dish"/></a>

        <div class="product-box-info">
            <div class="product-box-bg">
                <h3 class="product-name"><a href="pearl-pendants-adult-and-child-on-dish.html"
                                            title="Pearl pendants adult and child on dish">Pearl
                    pendants adult and child on dish</a></h3>

                <div class="price-box">
<span class="regular-price" id="product-price-49-new">
<span class="price">$32.19</span> </span>
                </div>
            </div>
        </div>

    </li>
    <li class="item">
        <a href="square.html" title="SQUARE" class="product-image"><img
                SRC="media/catalog/product/cache/1/small_image/300x/9df78eab33525d08d6e5fb8d27136e95/o/r/o34BEA02A"
                width="300" height="300" alt="SQUARE"/></a>

        <div class="product-box-info">
            <div class="product-box-bg">
                <h3 class="product-name"><a href="square.html" title="SQUARE">SQUARE</a></h3>

                <div class="price-box">
<span class="regular-price" id="product-price-47-new">
<span class="price">$19.99</span> </span>
                </div>
            </div>
        </div>

    </li>
    <li class="item last">
        <a href="original-neclaces.html" title="Original Neclaces" class="product-image"><img
                SRC="media/catalog/product/cache/1/small_image/300x/9df78eab33525d08d6e5fb8d27136e95/o/r/oE835C844"
                width="300" height="300" alt="Original Neclaces"/></a>

        <div class="product-box-info">
            <div class="product-box-bg">
                <h3 class="product-name"><a href="original-neclaces.html" title="Original Neclaces">Original
                    Neclaces</a></h3>

                <div class="price-box">
<span class="regular-price" id="product-price-45-new">
<span class="price">$8.99</span> </span>
                </div>
            </div>
        </div>

    </li>
</ul>
<ul class="products-grid">
    <li class="item first">
        <a href="original-bird.html" title="Original bird" class="product-image"><img
                SRC="media/catalog/product/cache/1/small_image/300x/9df78eab33525d08d6e5fb8d27136e95/o/r/o65F4B251"
                width="300" height="300" alt="Original bird"/></a>

        <div class="product-box-info">
            <div class="product-box-bg">
                <h3 class="product-name"><a href="original-bird.html" title="Original bird">Original
                    bird</a></h3>

                <div class="price-box">
<span class="regular-price" id="product-price-43-new">
<span class="price">$28.90</span> </span>
                </div>
            </div>
        </div>

    </li>
    <li class="item">
        <a href="pearl-cudblaz.html" title="Pearl cudblaz" class="product-image"><img
                SRC="media/catalog/product/cache/1/small_image/300x/9df78eab33525d08d6e5fb8d27136e95/o/r/o5F1A5F90"
                width="300" height="300" alt="Pearl cudblaz"/></a>

        <div class="product-box-info">
            <div class="product-box-bg">
                <h3 class="product-name"><a href="pearl-cudblaz.html" title="Pearl cudblaz">Pearl
                    cudblaz</a></h3>

                <div class="price-box">
<span class="regular-price" id="product-price-51-new">
<span class="price">$34.99</span> </span>
                </div>
            </div>
        </div>

    </li>
    <li class="item last">
        <a href="personalised-star-charm-bracelet.html" title="Personalised Star Charm Bracelet"
           class="product-image"><img
                SRC="media/catalog/product/cache/1/small_image/300x/9df78eab33525d08d6e5fb8d27136e95/o/r/o3D85DF43"
                width="300" height="300" alt="Personalised Star Charm Bracelet"/></a>

        <div class="product-box-info">
            <div class="product-box-bg">
                <h3 class="product-name"><a href="personalised-star-charm-bracelet.html"
                                            title="Personalised Star Charm Bracelet">Personalised
                    Star Charm Bracelet</a></h3>

                <div class="price-box">
<span class="regular-price" id="product-price-46-new">
<span class="price">$24.59</span> </span>
                </div>
            </div>
        </div>

    </li>
</ul>
</div>
<div class="clear"></div>
</div>
</div>
<div class="clear"></div>
</div>
</div>
<div class="footer-container">
    <div class="container_24">
        <div class="wrapper">
            <div class="grid_24">
                <div class="footer">
                    <div class="footer-cols-wrapper">
                        <div class="footer-col">
                            <h4>Information</h4>

                            <div class="footer-col-content">
                                <ul>
                                    <li><a href="about-magento-demo-store">About Us</a></li>
                                    <li><a href="customer-service">Customer Service</a></li>
                                    <li class="last privacy"><a href="privacy-policy-cookie-restriction-mode">Privacy
                                        Policy</a></li>
                                </ul>
                                <ul class="links">
                                    <li class="first"><a href="catalog/seo_sitemap/category/index.htm" title="Site Map">Site
                                        Map</a></li>
                                    <li><a href="catalogsearch/term/popular/index.htm" title="Search Terms">Search
                                        Terms</a></li>
                                    <li><a href="catalogsearch/advanced/index.htm" title="Advanced Search">Advanced
                                        Search</a></li>
                                    <li><a href="sales/guest/form/index.htm" title="Orders and Returns">Orders and
                                        Returns</a></li>
                                    <li class=" last"><a href="contacts/index.htm" title="Contact Us">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <address>&copy;
                        <script type="text/javascript">var mdate = new Date();
                        document.write(mdate.getFullYear());</script>
                        Magento Demo Store. All Rights Reserved.
                    </address>
                    <div class="clear"></div>
                    <ul class="social-buttons">
                        <li class="item-1"><a href="#"></a></li>
                        <li class="item-2"><a href="#"></a></li>
                        <li class="item-3"><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>
