<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Personalised Star Charm Bracelet</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <meta name="description"
          content="What are the most precious things in our life? Of course, &lt;strong&gt;our children&lt;/strong&gt;. The well-known proverb says that there are two ornaments in our being – &lt;strong&gt;wealth&lt;/strong&gt; and &lt;strong&gt;children&lt;/strong&gt;. They are a part of us, we can notice ou"/>
    <meta name="keywords" content="Magento, Varien, E-commerce"/>
    <meta name="robots" content="INDEX,FOLLOW"/>
    <script type="text/javascript">
        //<![CDATA[
        window.__CF = window.__CF || {};
        window.__CF.AJS = {"ga_key": {"ua": "UA-7078796-5", "ga_bs": "2"}};
        //]]>
    </script>
    <script type="text/javascript">
        //<![CDATA[
        try {
            if (!window.CloudFlare) {
                var CloudFlare = [
                    {verbose: 0, p: 0, byc: 0, owlid: "cf", mirage: {responsive: 0, lazy: 0}, oracle: 0, paths: {cloudflare: "../cdn-cgi/nexp/abv=378448694/index.htm"}, atok: "edd23b83a894393d34de14a3bdc27bb8", zone: "template-help.com", rocket: "0", apps: {"ga_key": {"ua": "UA-7078796-5", "ga_bs": "2"}}}
                ];
                var a = document.createElement("script"), b = document.getElementsByTagName("script")[0];
                a.async = !0;
                a.src = "../ajax.cloudflare.com/cdn-cgi/nexp/abv=4035706501/cloudflare.min.js";
                b.parentNode.insertBefore(a, b);
            }
        } catch (e) {
        }
        ;
        //]]>
    </script>
    <link rel="icon" HREF="skin/frontend/default/theme423/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" HREF="skin/frontend/default/theme423/favicon.ico" type="image/x-icon"/>
    <link href="../../fonts.googleapis.com/css@family=Playfair+Display" rel='stylesheet' type='text/css'>
    <link href="../../fonts.googleapis.com/css@family=Open+Sans" rel='stylesheet' type='text/css'>
    <link href="../../fonts.googleapis.com/css@family=Open+Sans+Condensed-3A300" rel='stylesheet' type='text/css'>
    <link href="../../fonts.googleapis.com/css@family=Berkshire+Swash" rel='stylesheet' type='text/css'>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/superfish.js"></script>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/scripts.js"></script>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/easyTooltip.js"></script>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/jquery.iosslider.min.js"></script>
    <!--[if lt IE 7]>
    <script type="text/javascript">
        //<![CDATA[
    var BLANK_URL = 'http://livedemo00.template-help.com/magento_42124/js/blank.html';
    var BLANK_IMG = 'http://livedemo00.template-help.com/magento_42124/js/spacer.gif';
//]]>
</script>
<![endif]-->
    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img
                src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/></a>
    </div>
    <![endif]-->
    <!--[if lt IE 9]>
    <style>
        body {
            min-width: 960px !important;
        }
    </style>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="js/calendar/calendar-win2k-1.css"/>
    <link rel="stylesheet" type="text/css" href="skin/frontend/default/theme423/css/styles.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="skin/frontend/default/theme423/css/responsive.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="skin/frontend/default/theme423/css/superfish.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="skin/frontend/default/theme423/css/camera.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="skin/frontend/base/default/css/widgets.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="skin/frontend/default/theme423/css/ecommerceteam/cloud-zoom.css"
          media="all"/>
    <link rel="stylesheet" type="text/css" href="skin/frontend/default/theme423/css/print.css" media="print"/>
    <script type="text/javascript" SRC="js/prototype/prototype.js"></script>
    <script type="text/javascript" SRC="js/lib/ccard.js"></script>
    <script type="text/javascript" SRC="js/prototype/validation.js"></script>
    <script type="text/javascript" SRC="js/scriptaculous/builder.js"></script>
    <script type="text/javascript" SRC="js/scriptaculous/effects.js"></script>
    <script type="text/javascript" SRC="js/scriptaculous/dragdrop.js"></script>
    <script type="text/javascript" SRC="js/scriptaculous/controls.js"></script>
    <script type="text/javascript" SRC="js/scriptaculous/slider.js"></script>
    <script type="text/javascript" SRC="js/varien/js.js"></script>
    <script type="text/javascript" SRC="js/varien/form.js"></script>
    <script type="text/javascript" SRC="js/mage/translate.js"></script>
    <script type="text/javascript" SRC="js/mage/cookies.js"></script>
    <script type="text/javascript" SRC="js/ecommerceteam/cloud-zoom.1.0.2.min.js"></script>
    <script type="text/javascript" SRC="js/varien/product.js"></script>
    <script type="text/javascript" SRC="js/varien/configurable.js"></script>
    <script type="text/javascript" SRC="js/calendar/calendar.js"></script>
    <script type="text/javascript" SRC="js/calendar/calendar-setup.js"></script>
    <script type="text/javascript" SRC="skin/frontend/default/theme423/js/msrp.js"></script>
    <!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css"
          href="http://livedemo00.template-help.com/magento_42124/skin/frontend/default/theme423/css/styles-ie.css"
          media="all"/>
    <![endif]-->
    <!--[if lt IE 7]>
    <script type="text/javascript"
            src="http://livedemo00.template-help.com/magento_42124/js/lib/ds-sleight.js"></script>
    <script type="text/javascript"
            src="http://livedemo00.template-help.com/magento_42124/skin/frontend/base/default/js/ie6.js"></script>
    <![endif]-->
</head>
<body class=" catalog-product-view catalog-product-view product-personalised-star-charm-bracelet">
<div class="wrapper">
<noscript>
    <div class="global-site-notice noscript">
        <div class="notice-inner">
            <p>
                <strong>JavaScript seems to be disabled in your browser.</strong><br/>
                You must have JavaScript enabled in your browser to utilize the functionality of this website. </p>
        </div>
    </div>
</noscript>
<div class="page">
<div class="header-container">
    <div class="container_24">
        <div class="grid_24">
            <div class="header">
                <div class="header-buttons">
                    <div class="row-1">
                        <div class="header-button top-login">
                            <ul class="links">
                                <li class="first last"><a HREF="customer/account/login/index.htm" title="Log In"
                                                          class="Login_link">Log In</a></li>
                            </ul>
                        </div>
                        <div class="header-button menu-list">
                            <a href="#"></a>
                            <ul class="links">
                                <li class="first"><a HREF="customer/account/index.htm" title="My Account">My Account</a>
                                </li>
                                <li><a HREF="checkout/cart/index.htm" title="My Cart" class="top-link-cart">My Cart</a>
                                </li>
                                <li><a HREF="checkout/index.htm" title="Checkout" class="top-link-checkout">Checkout</a>
                                </li>
                                <li class=" last"><a HREF="wishlist/index.htm" title="My Wishlist">My Wishlist</a></li>
                            </ul>
                        </div>
                        <div class="header-button currency-list">
                            <a href="#">$</a>
                            <ul>
                                <li>
                                    <a HREF="directory/currency/switch/currency/GBP/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscB3B26E1E"
                                       title="GBP">British Pound Sterling - GBP</a>
                                </li>
                                <li>
                                    <a HREF="directory/currency/switch/currency/EUR/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVsc913347A7"
                                       title="EUR">Euro - EUR</a>
                                </li>
                                <li>
                                    <a HREF="directory/currency/switch/currency/USD/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscE9B658DC"
                                       title="USD">US Dollar - USD</a>
                                </li>
                            </ul>
                        </div>
                        <div class="header-button lang-list">
                            <a href="#"></a>
                            <ul>
                                <li>
                                    <a HREF="personalised-star-charm-bracelet.html@___store=english&___from_store=english"
                                       title="en_US">English</a>
<span>
en </span>
                                </li>
                                <li>
                                    <a HREF="personalised-star-charm-bracelet.html@___store=german&___from_store=english"
                                       title="de_DE">German</a>
<span>
</span>
                                </li>
                                <li>
                                    <a HREF="personalised-star-charm-bracelet.html@___store=spanish&___from_store=english"
                                       title="es_ES">Spanish</a>
<span>
</span>
                                </li>
                                <li>
                                    <a HREF="personalised-star-charm-bracelet.html@___store=russian&___from_store=english"
                                       title="ru_RU">Russian</a>
<span>
</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="quick-access">
                        <div class="header-links">
                            <ul class="links">
                                <li class="first last"><a HREF="customer/account/login/index.htm" title="Log In"
                                                          class="Login_link">Log In</a></li>
                            </ul>
                            <ul class="links">
                                <li class="first"><a HREF="customer/account/index.htm" title="My Account">My Account</a>
                                </li>
                                <li><a HREF="checkout/cart/index.htm" title="My Cart" class="top-link-cart">My Cart</a>
                                </li>
                                <li><a HREF="checkout/index.htm" title="Checkout" class="top-link-checkout">Checkout</a>
                                </li>
                                <li class=" last"><a HREF="wishlist/index.htm" title="My Wishlist">My Wishlist</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <a HREF="index.htm" title="Magento Commerce" class="logo"><strong>Magento Commerce</strong><img
                        SRC="skin/frontend/default/theme423/images/logo.png" alt="Magento Commerce"/></a>

                <div class="clear"></div>
                <div class="row-2">
                    <div class="block-cart-header">
                        <div class="block-content">
                            <p class="empty"><span class="cart-title">My Cart:</span>0 item(s)</p>
                        </div>
                    </div>
                    <script>
                        jQuery('.block-cart-header .cart-content').hide();
                        if (jQuery('.container_24').width() < 800) {
                            jQuery('.block-cart-header .summary, .block-cart-header .cart-content').click(function () {
                                        jQuery('.block-cart-header .cart-content').stop(true, true).slideToggle(300);
                                    }
                            )
                        }
                        else {
                            jQuery('.block-cart-header .summary, .block-cart-header .cart-content').hover(
                                    function () {
                                        jQuery('.block-cart-header .cart-content').stop(true, true).slideDown(400);
                                    },
                                    function () {
                                        jQuery('.block-cart-header .cart-content').stop(true, true).delay(400).slideUp(300);
                                    }
                            );
                        }
                    </script>
                    <p class="welcome-msg">Welcome to our online store! </p>

                    <div class="clear"></div>
                    <form id="search_mini_form"
                          action="http://livedemo00.template-help.com/magento_42124/catalogsearch/result/" method="get">
                        <div class="form-search">
                            <label for="search">Search:</label>
                            <input id="search" type="text" name="q" value="" class="input-text" maxlength="128"/>
                            <button type="submit" title="Search" class="button"><span><span>Search</span></span>
                            </button>
                            <div id="search_autocomplete" class="search-autocomplete"></div>
                            <script type="text/javascript">
                                //<![CDATA[
                                var searchForm = new Varien.searchForm('search_mini_form', 'search', '');
                                searchForm.initAutocomplete('catalogsearch/ajax/suggest/index.htm', 'search_autocomplete');
                                //]]>
                            </script>
                        </div>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="nav-container">
    <div class="container_24">
        <div class="grid_24">
            <div id="menu-icon">Categories</div>
            <ul id="nav" class="sf-menu">
                <li class="level0 nav-1 first level-top"><a HREF="bracelets.html"
                                                            class="level-top"><span>Bracelets</span></a></li>
                <li class="level0 nav-2 level-top parent"><a HREF="earrings.html"
                                                             class="level-top"><span>Earrings</span></a>
                    <ul class="level0">
                        <li class="level1 nav-2-1 first"><a
                                HREF="earrings/glass-earrings.html"><span>Glass Earrings</span></a></li>
                        <li class="level1 nav-2-2"><a
                                HREF="earrings/metal-earrings.html"><span>Metal Earrings</span></a></li>
                        <li class="level1 nav-2-3 last"><a
                                HREF="earrings/plastic-earrings.html"><span>Plastic Earrings</span></a></li>
                    </ul>
                </li>
                <li class="level0 nav-3 level-top"><a HREF="neclaces.html" class="level-top"><span>Necklaces</span></a>
                </li>
                <li class="level0 nav-4 level-top"><a HREF="rings.html" class="level-top"><span>Rings</span></a></li>
                <li class="level0 nav-5 last level-top"><a HREF="sets.html" class="level-top"><span>Sets</span></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="main-container col2-right-layout">
<div class="container_24">
<div class="wrapper">
<div class="grid_24">
<div class="main">
<div class="breadcrumbs">
    <ul>
        <li class="home">
            <a HREF="index.htm" title="Go to Home Page">Home</a>
            <span>></span>
        </li>
        <li class="product">
            <strong>Personalised Star Charm Bracelet</strong>
        </li>
    </ul>
</div>
<div class="wrapper">
<div class="col-main alpha grid_18">
<div class="padding-r">
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice([]);
</script>
<div id="messages_product_view"></div>
<div class="product-view">
<div class="product-essential">
    <form action="http://livedemo00.template-help.com/magento_42124/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b180MjEyNC9wZXJzb25hbGlzZWQtc3Rhci1jaGFybS1icmFjZWxldC5odG1s/product/46/"
          method="post" id="product_addtocart_form">
        <div class="no-display">
            <input type="hidden" name="product" value="46"/>
            <input type="hidden" name="related_product" id="related-products-field" value=""/>
        </div>
        <div class="product-img-box">
            <script>
                jQuery(document).ready(function () {
                    count = 0;
                    jQuery('.iosSlider .slider #item').each(function () {
                        count++;
                    });
                    if (count > 3) {
                        jQuery('.iosSlider').iosSlider({
                            snapToChildren: true,
                            desktopClickDrag: true,
                            keyboardControls: true,
                            onSliderLoaded: sliderTest,
                            onSlideStart: sliderTest,
                            onSlideComplete: slideComplete,
                            navNextSelector: jQuery('.next'),
                            navPrevSelector: jQuery('.prev')
                        });
                        jQuery('.next, .prev').css({'display': 'block'});
                    }
                });

                function sliderTest(args) {
                    try {
                        console.log(args);
                    } catch (err) {
                    }
                }

                function slideComplete(args) {
                    jQuery('.next, .prev').removeClass('unselectable');
                    if (args.currentSlideNumber == 1) {
                        jQuery('.prev').addClass('unselectable');
                    } else if (args.currentSliderOffset == args.data.sliderMax) {
                        jQuery('.next').addClass('unselectable');
                    }
                }
            </script>
            <p class="product-image">
                <a HREF="media/catalog/product/cache/1/image/600x600/9df78eab33525d08d6e5fb8d27136e95/o/r/origB4C0636C"
                   class='cloud-zoom' id='zoom1'
                   rel="position:'right',showTitle:1,titleOpacity:0.5,lensOpacity:0.5,adjustX: 10,adjustY:-4">
                    <img class="small"
                         SRC="media/catalog/product/cache/1/image/106x106/9df78eab33525d08d6e5fb8d27136e95/o/r/origFB137190"
                         alt='' title="Personalised Star Charm Bracelet"/>
                    <img class="big"
                         SRC="media/catalog/product/cache/1/image/308x308/9df78eab33525d08d6e5fb8d27136e95/o/r/orig3EF2D578"
                         alt='' title="Personalised Star Charm Bracelet"/>
                </a>
            </p>

            <div class="more-views">
                <h2>More Views</h2>

                <div class="container">
                    <div class="iosSlider">
                        <div class="slider">
                            <div id="item">
                                <a HREF="media/catalog/product/cache/1/image/600x600/9df78eab33525d08d6e5fb8d27136e95/o/r/origB4C0636C"
                                   class='cloud-zoom-gallery' title=''
                                   rel="useZoom: 'zoom1', smallImage: 'http://livedemo00.template-help.com/magento_42124/media/catalog/product/cache/1/image/308x308/9df78eab33525d08d6e5fb8d27136e95/o/r/original_nohs_120719_lisaangel_personalisedstarcharmbracelet-0253.jpg' ">
                                    <img SRC="media/catalog/product/cache/1/thumbnail/95x95/9df78eab33525d08d6e5fb8d27136e95/o/r/or666015EB"
                                         alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class='next'></div>
                    <div class='prev unselectable'></div>
                </div>
            </div>
        </div>
        <div class="product-shop">
            <div class="product-name">
                <h1>Personalised Star Charm Bracelet</h1>
            </div>
            <div class="short-description">
                <h2>Quick Overview</h2>

                <div class="std"><strong>Children's Jewelry</strong> Store is a real treasure chest for <em>parents and
                    their little fashionistas</em>. There are items for all tastes, ages (newborns, infants, teenagers),
                    and it <strong>offers</strong> great opportunities to find real pieces of art of the
                    <strong>premium</strong> quality. These little jewelry pieces can become <strong>beautiful</strong>
                    presents for our little sweet <strong>babies</strong>. Of course, <em>mom’s and dad’s love is</em>
                    the most precious, but little presents are always <strong>welcome</strong>.
                </div>
            </div>
            <p class="availability in-stock">Availability: <span>In stock</span></p>

            <div class="price-box">
<span class="regular-price" id="product-price-46">
<span class="price">$24.59</span> </span>
            </div>
            <div class="clear"></div>
            <div class="add-to-box">
                <div class="add-to-cart">
                    <div class="qty-block">
                        <label for="qty">Qty:</label>
                        <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Qty"
                               class="input-text qty"/>
                    </div>
                    <button type="button" title="Add to Cart" class="button btn-cart"
                            onclick="productAddToCartForm.submit(this)"><span><span>Add to Cart</span></span></button>
                </div>
                <span class="or">OR</span>
                <ul class="add-to-links">
                    <li><a HREF="wishlist/index/add/product/46/index.htm"
                           onclick="productAddToCartForm.submitLight(this, this.href); return false;"
                           class="link-wishlist">Add to Wishlist</a></li>
                    <li><span class="separator">|</span> <a
                            HREF="catalog/product_compare/add/product/46/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVsc230D4255"
                            class="link-compare">Add to Compare</a></li>
                </ul>
            </div>
            <div class="row-product">
                <p class="no-rating"><a HREF="review/product/list/id/46/index.htm#review-form">Be the first to review
                    this product</a></p>

                <p class="email-friend"><a HREF="sendfriend/product/send/id/46/index.htm">Email to a Friend</a></p>
            </div>

        </div>
    </form>
    <script type="text/javascript">
        //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function (button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                    form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function (button, url) {
            if (this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                // Remove custom datetime validators
                for (var methodName in Validation.methods) {
                    if (methodName.match(/^validate-datetime-.*/i)) {
                        delete Validation.methods[methodName];
                    }
                }

                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
        //]]>
    </script>
</div>
<div class="product-collateral">
    <div class="box-collateral box-description">
        <h2>Details</h2>

        <div class="box-collateral-content">
            <div class="std">
                What are the most precious things in our life? Of course, <strong>our children</strong>. The well-known
                proverb says that there are two ornaments in our being – <strong>wealth</strong> and
                <strong>children</strong>. They are a part of us, we can notice our <em>traits of character</em> in
                them, our features in their <strong>appearance</strong>. Looking at them we understand that there is at
                least one thing in this <strong>world</strong> that makes this <em>life worth living</em>.
                We are glad to see their eyes sparkling with <strong>happiness</strong>, their <strong>smiles</strong>
                and <strong>know</strong> that they love us, and <em>these feelings are</em> the most pure in this
                world. We like to make them happy, give some pleasant presents and we do it really
                <strong>unselfishly</strong>.
                All parents want their <strong>children</strong> look <strong>beautiful</strong>. That’s the reason for
                the parents’ interest in the latest trends of <strong>children’s clothes</strong>, the most fashionable
                looks and the way the kids should <em>look like</em>. The latest <strong>collections</strong> from
                popular <strong>designers</strong>, cool <strong>accessories</strong> – loving parents are eager to get
                all these things for their <strong>children</strong>. Accessories play an important role in the overall
                look, and so many brands offer a variety of so lovely items of this kind for kids.
                <strong>Children's Jewelry</strong> Store is a real treasure chest for <em>parents and their little
                fashionistas</em>. There are items for all tastes, ages (newborns, infants, teenagers), and it <strong>offers</strong>
                great opportunities to find real pieces of art of the <strong>premium</strong> quality. These little
                jewelry pieces can become <strong>beautiful</strong> presents for our little sweet
                <strong>babies</strong>. Of course, <em>mom’s and dad’s love is</em> the most precious, but little
                presents are always <strong>welcome</strong>.
            </div>
        </div>
    </div>
    <div class="box-collateral box-tags">
        <h2>Product Tags</h2>

        <div class="box-collateral-content">
            <form id="addTagForm"
                  action="http://livedemo00.template-help.com/magento_42124/tag/index/save/product/46/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b180MjEyNC9wZXJzb25hbGlzZWQtc3Rhci1jaGFybS1icmFjZWxldC5odG1s/"
                  method="get">
                <div class="form-add">
                    <label for="productTagName">Add Your Tags:</label>

                    <div class="wrapper">
                        <div class="input-box">
                            <input type="text" class="input-text required-entry" name="productTagName"
                                   id="productTagName"/>
                        </div>
                        <button type="button" title="Add Tags" class="button" onclick="submitTagForm()">
<span>
<span>Add Tags</span>
</span>
                        </button>
                    </div>
                </div>
            </form>
            <p class="note">Use spaces to separate tags. Use single quotes (') for phrases.</p>
            <script type="text/javascript">
                //<![CDATA[
                var addTagFormJs = new VarienForm('addTagForm');
                function submitTagForm() {
                    if (addTagFormJs.validator.validate()) {
                        addTagFormJs.form.submit();
                    }
                }
                //]]>
            </script>
        </div>
    </div>
    <div class="box-collateral">
        <h2>Custom tab</h2>

        <div class="box-collateral-content">
            <div class="tabs-custom">
                <span>Static CMS block displayed as additional tab.</span>
                You can insert any content here (text or HTML), e.g. info about returns and refunds.
            </div>
        </div>
    </div>
    <div class="video-box box-collateral">
        <h2>Video</h2>

        <div class="box-collateral-content">
            <div class="video">
                <iframe SRC="../../www.youtube.com/embed/2kodXWejuy0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
</div>
<div class="box-collateral box-up-sell related-carousel-none">
    <h2>You may also be interested in the following product(s)</h2>
    <ul class="products-ups">
        <li class="item">
            <div class="product-box">
                <a HREF="kawaii-necklace-polymer-clay-breakfast.html" title="Kawaii Necklace Polymer Clay Breakfast"
                   class="product-image"><img
                        SRC="media/catalog/product/cache/1/small_image/184x/9df78eab33525d08d6e5fb8d27136e95/k/a/kC209C24"
                        width="184" height="184" alt="Kawaii Necklace Polymer Clay Breakfast"/></a>

                <h3 class="product-name"><a HREF="kawaii-necklace-polymer-clay-breakfast.html"
                                            title="Kawaii Necklace Polymer Clay Breakfast">Kawaii Necklace Polymer Clay
                    Breakfast</a></h3>

                <div class="price-box">
<span class="regular-price" id="product-price-28-upsell">
<span class="price">$22.30</span> </span>
                </div>
            </div>
        </li>
        <li class="item">
            <div class="product-box">
                <a HREF="stormy-skies-wire-wrapped-button-ring.html" title="Stormy Skies Wire Wrapped Button Ring"
                   class="product-image"><img
                        SRC="media/catalog/product/cache/1/small_image/184x/9df78eab33525d08d6e5fb8d27136e95/s/t/s445F0E8"
                        width="184" height="184" alt="Stormy Skies Wire Wrapped Button Ring"/></a>

                <h3 class="product-name"><a HREF="stormy-skies-wire-wrapped-button-ring.html"
                                            title="Stormy Skies Wire Wrapped Button Ring">Stormy Skies Wire Wrapped
                    Button Ring</a></h3>

                <div class="price-box">
<span class="regular-price" id="product-price-35-upsell">
<span class="price">$26.30</span> </span>
                </div>
            </div>
        </li>
        <li class="item">
            <div class="product-box">
                <a HREF="girls-set-of-necklace-bracelet.html" title="Girls Set of Necklace &amp; Bracelet "
                   class="product-image"><img
                        SRC="media/catalog/product/cache/1/small_image/184x/9df78eab33525d08d6e5fb8d27136e95/g/i/g294810FB"
                        width="184" height="184" alt="Girls Set of Necklace &amp; Bracelet "/></a>

                <h3 class="product-name"><a HREF="girls-set-of-necklace-bracelet.html"
                                            title="Girls Set of Necklace &amp; Bracelet ">Girls Set of Necklace &amp;
                    Bracelet </a></h3>

                <div class="price-box">
<span class="regular-price" id="product-price-38-upsell">
<span class="price">$18.33</span> </span>
                </div>
            </div>
        </li>
    </ul>
    <script type="text/javascript">decorateTable('upsell-product-table')</script>
    <script type="text/javascript">
        document.observe('dom:loaded', function () {
            var home_blocks = $$('.box-up-sell');
            home_blocks.each(function (p) {
                var grids = p.select('.products-ups');
                grids.each(function (n) {
                    var columns = n.select('li.item');
                    var max_height = 0;
                    columns.each(function (m) {
                        if (m.getHeight() > max_height) {
                            max_height = m.getHeight();
                        }
                    });
                    var boxes = n.select('li .product-name');
                    boxes.each(function (b) {
                        var this_column = b.up('li.item');
                        var box_indent = this_column.getHeight() - b.getHeight();
                        b.setStyle({
                            height: max_height - box_indent + 'px'
                        });
                    });
                });
            });
        })
    </script>
</div>
<div id="map-popup" class="map-popup" style="display:none;">
    <a href="#" class="map-popup-close" id="map-popup-close">x</a>

    <div class="map-popup-arrow"></div>
    <div class="map-popup-heading"><h2 id="map-popup-heading"></h2></div>
    <div class="map-popup-content" id="map-popup-content">
        <div class="map-popup-msrp" id="map-popup-msrp-box"><strong>Price:</strong> <span
                style="text-decoration:line-through;" id="map-popup-msrp"></span></div>
        <div class="map-popup-price" id="map-popup-price-box"><strong>Actual Price:</strong> <span
                id="map-popup-price"></span></div>
        <div class="map-popup-checkout">
            <form action="" method="POST" id="product_addtocart_form_from_popup">
                <input type="hidden" name="product" class="product_id" value="" id="map-popup-product-id"/>

                <div class="additional-addtocart-box">
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" id="map-popup-button"><span><span>Add to Cart</span></span>
                </button>
            </form>
        </div>
        <script type="text/javascript">
            //<![CDATA[
            document.observe("dom:loaded", Catalog.Map.bindProductForm);
            //]]>
        </script>
    </div>
    <div class="map-popup-text" id="map-popup-text">Our price is lower than the manufacturer's &quot;minimum advertised
        price.&quot; As a result, we cannot show you the price in catalog or the product page. <br/><br/> You have no
        obligation to purchase the product once you know the price. You can simply remove the item from your cart.
    </div>
    <div class="map-popup-text" id="map-popup-text-what-this">Our price is lower than the manufacturer's &quot;minimum
        advertised price.&quot; As a result, we cannot show you the price in catalog or the product page. <br/><br/> You
        have no obligation to purchase the product once you know the price. You can simply remove the item from your
        cart.
    </div>
</div>
<script type="text/javascript">
    var lifetime = 3600;
    var expireAt = Mage.Cookies.expires;
    if (lifetime > 0) {
        expireAt = new Date();
        expireAt.setTime(expireAt.getTime() + lifetime * 1000);
    }
    Mage.Cookies.set('external_no_cache', 1, expireAt);
</script>
</div>
</div>
<div class="col-right sidebar grid_6 omega">
<div class="block block-related">
    <div class="block-title">
        <strong><span>Related Products</span></strong>
    </div>
    <div class="block-content">
        <p class="block-subtitle">Check items to add to the cart or&nbsp;<a href="#"
                                                                            onclick="selectAllRelated(this); return false;">select
            all</a></p>
        <ol class="mini-products-list" id="block-related">
            <li class="item">
                <input type="checkbox" class="checkbox related-checkbox" id="related-checkbox27"
                       name="related_products[]" value="27"/>

                <div class="product">
                    <a HREF="hellephant-cf4l-wooden-pendant-necklace.html"
                       title="Hellephant CF4L Wooden Pendant Necklace" class="product-image"><img
                            SRC="media/catalog/product/cache/1/thumbnail/70x/9df78eab33525d08d6e5fb8d27136e95/h/e/hellD1EFC966"
                            width="70" height="70" alt="Hellephant CF4L Wooden Pendant Necklace"/></a>

                    <p class="product-name"><a HREF="hellephant-cf4l-wooden-pendant-necklace.html">Hellephant CF4L
                        Wooden Pendant Necklace</a></p>

                    <div class="clear"></div>
                    <div class="product-details">
                        <div class="price-box">
<span class="regular-price" id="product-price-27-related">
<span class="price">$20.30</span> </span>
                        </div>
                        <a HREF="wishlist/index/add/product/27/index.htm" class="link-wishlist">Add to Wishlist</a>
                    </div>
                </div>
            </li>
            <li class="item">
                <input type="checkbox" class="checkbox related-checkbox" id="related-checkbox28"
                       name="related_products[]" value="28"/>

                <div class="product">
                    <a HREF="kawaii-necklace-polymer-clay-breakfast.html" title="Kawaii Necklace Polymer Clay Breakfast"
                       class="product-image"><img
                            SRC="media/catalog/product/cache/1/thumbnail/70x/9df78eab33525d08d6e5fb8d27136e95/k/a/kawaC8354347"
                            width="70" height="70" alt="Kawaii Necklace Polymer Clay Breakfast"/></a>

                    <p class="product-name"><a HREF="kawaii-necklace-polymer-clay-breakfast.html">Kawaii Necklace
                        Polymer Clay Breakfast</a></p>

                    <div class="clear"></div>
                    <div class="product-details">
                        <div class="price-box">
<span class="regular-price" id="product-price-28-related">
<span class="price">$22.30</span> </span>
                        </div>
                        <a HREF="wishlist/index/add/product/28/index.htm" class="link-wishlist">Add to Wishlist</a>
                    </div>
                </div>
            </li>
            <li class="item">
                <input type="checkbox" class="checkbox related-checkbox" id="related-checkbox33"
                       name="related_products[]" value="33"/>

                <div class="product">
                    <a HREF="mahjong-game-piece-wire-wrapped-ring.html" title="Mahjong game piece wire wrapped ring"
                       class="product-image"><img
                            SRC="media/catalog/product/cache/1/thumbnail/70x/9df78eab33525d08d6e5fb8d27136e95/m/a/mahjB2C5A36E"
                            width="70" height="70" alt="Mahjong game piece wire wrapped ring"/></a>

                    <p class="product-name"><a HREF="mahjong-game-piece-wire-wrapped-ring.html">Mahjong game piece wire
                        wrapped ring</a></p>

                    <div class="clear"></div>
                    <div class="product-details">
                        <div class="price-box">
<span class="regular-price" id="product-price-33-related">
<span class="price">$29.30</span> </span>
                        </div>
                        <a HREF="wishlist/index/add/product/33/index.htm" class="link-wishlist">Add to Wishlist</a>
                    </div>
                </div>
            </li>
        </ol>
        <script type="text/javascript">decorateList('block-related', 'none-recursive')</script>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        $$('.related-checkbox').each(function (elem) {
            Event.observe(elem, 'click', addRelatedToProduct)
        });

        var relatedProductsCheckFlag = false;
        function selectAllRelated(txt) {
            if (relatedProductsCheckFlag == false) {
                $$('.related-checkbox').each(function (elem) {
                    elem.checked = true;
                });
                relatedProductsCheckFlag = true;
                txt.innerHTML = "unselect all";
            } else {
                $$('.related-checkbox').each(function (elem) {
                    elem.checked = false;
                });
                relatedProductsCheckFlag = false;
                txt.innerHTML = "select all";
            }
            addRelatedToProduct();
        }

        function addRelatedToProduct() {
            var checkboxes = $$('.related-checkbox');
            var values = [];
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) values.push(checkboxes[i].value);
            }
            if ($('related-products-field')) {
                $('related-products-field').value = values.join(',');
            }
        }
        //]]>
    </script>
</div>
<div class="block block-cart">
    <div class="block-title">
        <strong><span>My Cart</span></strong>
    </div>
    <div class="block-content">
        <p class="empty">You have no items in your shopping cart.</p>
    </div>
</div>
<div class="block block-list block-compare">
    <div class="block-title">
        <strong><span>Compare Products </span></strong>
    </div>
    <div class="block-content">
        <p class="empty">You have no items to compare.</p>
    </div>
</div>
<div class="block block-subscribe">
    <form action="http://livedemo00.template-help.com/magento_42124/newsletter/subscriber/new/" method="post"
          id="newsletter-validate-detail">
        <div class="block-title"><strong><span>Newsletter</span></strong></div>
        <div class="block-content">
            <div class="input-box">
                <input type="email" name="email" id="newsletter" title="Newsletter"
                       class="input-text required-entry validate-email"/>
            </div>
            <div class="actions">
                <button type="submit" title="Subscribe" class="button"><span><span>Subscribe</span></span></button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        //<![CDATA[
        var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
        //]]>
    </script>
</div>
<div class="block block-tags">
    <div class="block-title">
        <strong><span>Popular Tags</span></strong>
    </div>
    <div class="block-content">
        <ul class="tags-list">
            <li><a HREF="tag/product/list/tagId/9/index.htm" style="font-size:145%;">accessories</a></li>
            <li><a HREF="tag/product/list/tagId/11/index.htm" style="font-size:75%;">babies</a></li>
            <li><a HREF="tag/product/list/tagId/7/index.htm" style="font-size:145%;">beautiful</a></li>
            <li><a HREF="tag/product/list/tagId/3/index.htm" style="font-size:75%;">character</a></li>
            <li><a HREF="tag/product/list/tagId/1/index.htm" style="font-size:145%;">children</a></li>
            <li><a HREF="tag/product/list/tagId/8/index.htm" style="font-size:110%;">collections</a></li>
            <li><a HREF="tag/product/list/tagId/4/index.htm" style="font-size:110%;">happiness</a></li>
            <li><a HREF="tag/product/list/tagId/10/index.htm" style="font-size:145%;">premium</a></li>
            <li><a HREF="tag/product/list/tagId/5/index.htm" style="font-size:75%;">smiles</a></li>
            <li><a HREF="tag/product/list/tagId/6/index.htm" style="font-size:110%;">unselfishly</a></li>
            <li><a HREF="tag/product/list/tagId/2/index.htm" style="font-size:75%;">wealth</a></li>
        </ul>
        <div class="actions">
            <a HREF="tag/list/index.htm">View All Tags</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    function validatePollAnswerIsSelected() {
        var options = $$('input.poll_vote');
        for (i in options) {
            if (options[i].checked == true) {
                return true;
            }
        }
        return false;
    }
    //]]>
</script>
<div class="block block-poll">
    <div class="block-title">
        <strong><span>Community Poll</span></strong>
    </div>
    <form id="pollForm" action="http://livedemo00.template-help.com/magento_42124/poll/vote/add/poll_id/1/"
          method="post" onsubmit="return validatePollAnswerIsSelected();">
        <div class="block-content">
            <p class="block-subtitle">What is the main reason for you to purchase products online?</p>
            <ul id="poll-answers">
                <li>
                    <input type="radio" name="vote" class="radio poll_vote" id="vote_1" value="1"/>
                    <span class="label"><label for="vote_1">More convenient shipping and delivery</label></span>
                </li>
                <li>
                    <input type="radio" name="vote" class="radio poll_vote" id="vote_2" value="2"/>
                    <span class="label"><label for="vote_2">Lower price</label></span>
                </li>
                <li>
                    <input type="radio" name="vote" class="radio poll_vote" id="vote_3" value="3"/>
                    <span class="label"><label for="vote_3">Bigger choice</label></span>
                </li>
                <li>
                    <input type="radio" name="vote" class="radio poll_vote" id="vote_4" value="4"/>
                    <span class="label"><label for="vote_4">Centralized product search procedure (without having to
                        leave your home)</label></span>
                </li>
                <li>
                    <input type="radio" name="vote" class="radio poll_vote" id="vote_5" value="5"/>
                    <span class="label"><label for="vote_5">Payments security</label></span>
                </li>
                <li>
                    <input type="radio" name="vote" class="radio poll_vote" id="vote_6" value="6"/>
                    <span class="label"><label for="vote_6">30-day Money Back Guarantee</label></span>
                </li>
                <li>
                    <input type="radio" name="vote" class="radio poll_vote" id="vote_7" value="7"/>
                    <span class="label"><label for="vote_7">Other.</label></span>
                </li>
            </ul>
            <script type="text/javascript">decorateList('poll-answers');</script>
            <div class="actions">
                <button type="submit" title="Vote" class="button"><span><span>Vote</span></span></button>
            </div>
        </div>
    </form>
</div>
<div class="paypal-logo">
    <a href="#" title="Additional Options"
       onclick="javascript:window.open('../../https@www.paypal.com/us/cgi-bin/webscr@cmd=xpt-2FMarketing-2Fpopup-2FOLCWhatIsPayPal-outside','paypal','width=600,height=350,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;"><img
            SRC="../../https@www.paypalobjects.com/en_US/i/bnr/bnr_nowAccepting_150x60.gif" alt="Additional Options"
            title="Additional Options"/></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-container">
    <div class="container_24">
        <div class="wrapper">
            <div class="grid_24">
                <div class="footer">
                    <div class="footer-cols-wrapper">
                        <div class="footer-col">
                            <h4>Information</h4>

                            <div class="footer-col-content">
                                <ul>
                                    <li><a HREF="about-magento-demo-store">About Us</a></li>
                                    <li><a HREF="customer-service">Customer Service</a></li>
                                    <li class="last privacy"><a HREF="privacy-policy-cookie-restriction-mode">Privacy
                                        Policy</a></li>
                                </ul>
                                <ul class="links">
                                    <li class="first"><a HREF="catalog/seo_sitemap/category/index.htm" title="Site Map">Site
                                        Map</a></li>
                                    <li><a HREF="catalogsearch/term/popular/index.htm" title="Search Terms">Search
                                        Terms</a></li>
                                    <li><a HREF="catalogsearch/advanced/index.htm" title="Advanced Search">Advanced
                                        Search</a></li>
                                    <li><a HREF="sales/guest/form/index.htm" title="Orders and Returns">Orders and
                                        Returns</a></li>
                                    <li class=" last"><a HREF="contacts/index.htm" title="Contact Us">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <address>&copy;
                        <script type="text/javascript">var mdate = new Date();
                        document.write(mdate.getFullYear());</script>
                        Magento Demo Store. All Rights Reserved.
                    </address>
                    <div class="clear"></div>
                    <ul class="social-buttons">
                        <li class="item-1"><a href="#"></a></li>
                        <li class="item-2"><a href="#"></a></li>
                        <li class="item-3"><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>
