.nav-container {
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}

.cms-home .nav-container {
    margin-bottom: 0px;
}

.sf-menu {
    padding: 0 5px;
}

.sf-menu li {
    float: left;
    text-align: left;
    position: relative;
    margin-left: 30px;
    z-index: 99;
}

.sf-menu li:first-child {
    margin-left: 0;
}

.sf-menu li a {
    display: block;
    color: #383737;
    text-decoration: none;
    position: relative;
    padding: 0;
    text-decoration: underline;
}

.sf-menu>li>a>span {
    display: block;
    font-size: 17px;
    line-height: 21px;
    color: #888787;
    cursor: pointer;
    white-space: nowrap;
}

.sf-menu li ul a span {
    white-space: normal;
}

.sf-menu>li.parent>a>span {
    background: url(../images/marker-8.gif) center -59px no-repeat;
}

#nav>li.sfHover>a, #nav>li>a:hover, #nav>li.active>a {
    color: #ffc600;
}

#nav>li.sfHover>a span, #nav>li>a:hover span, #nav>li.active>a span {
    color: #ea1c66;
}

.sf-menu li.active, .sf-menu li.sfHover, .sf-menu li:hover {
}

.sf-menu li a:hover {
    text-decoration: none;
}

.sf-menu ul {
    position: absolute;
    top: -999em;
    z-index: 99;
    width: 185px;
    display: none;
    background: url(../images/border-1.gif) 0 top repeat-x;
    padding-top: 4px;
}

.sf-menu li li {
    border-bottom: 1px solid #5f5e5e;
    margin-left: 0;
}

.sf-menu li li.last {
    border-bottom: none;
    background: url(../images/border-2.gif) 0 bottom repeat-x;
    padding-bottom: 4px;
}

.sf-menu li li.parent>a {
    background: url(../images/marker-1.gif) 170px 11px no-repeat;
}

.sf-menu li li.sfHover, .sf-menu li li, .sf-menu li li:hover {
    float: none;
    border-right: none;
    position: relative;
    padding-left: 0;
}

.sf-menu li li a, .sf-menu li.sfHover li a, .sf-menu li.active li a {
    display: block;
    background-color: #706f6f;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    padding: 7px 10px;
}

.sf-menu li li>a:hover, .sf-menu li li.sfHover>a, .sf-menu li li.active>a {
    color: #ffc600;
}

.sf-menu ul ul {
    position: absolute;
    top: -999em;
    z-index: 99;
}

.sf-menu li li li a, .sf-menu li li.sfHover li a, .sf-menu li li.active li a {
}

.sf-menu li li li a:hover, .sf-menu li li li.active a {
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
    left: 0px;
    top: 33px;
}

ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
    top: -999em;
}

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
    left: 186px;
    top: 0;
}

ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
    top: -999em;
}

ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
    left: 186px;
    top: 0;
}

#menu-icon {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 995px) {
    .sf-menu {
        display: block !important;
    }

    .sf-menu ul {
        width: 130px;
    }

    ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
        left: 131px;
        width: 130px;
    }

    ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
        left: 131px;
    }
}

@media only screen and (max-width: 767px) {
    .main-menu {
        padding: 0 20px 10px;
        position: relative;
    }

    #menu-icon {
        display: block;
        background: url(../images/menu-icon-bg.png) 265px 11px no-repeat #3a3a3a;
        border-bottom: 5px solid #6CB2AD;
        font-size: 17px;
        line-height: 21px;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        padding: 13px 0 0 10px;
        height: 33px;
    }

    #menu-icon.active {
        background-position: 265px -47px;
        background-color: #3a3a3a;
    }

    .sf-menu {
        display: none;
        background: #3a3a3a;
        clear: both;
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        padding: 13px 20px 20px;
        z-index: 2;
    }

    .sf-menu li, .sf-menu li li {
        clear: both;
        float: none;
        margin: 0;
        background: none;
        border: none;
    }

    .sf-menu li li.sfHover, .sf-menu li li, .sf-menu li li:hover {
        padding: 8px 0;
    }

    .sf-menu li li.last {
        padding-bottom: 0 !important;
    }

    .sf-menu li.parent>a {
        position: relative;
    }

    .sf-menu li.sfHover.parent>a {
    }

    .sf-menu>li {
        padding: 8px 0;
        border-bottom: 1px solid #515050;
    }

    .sf-menu li a {
        display: inline-block;
        background: none;
        border: none;
        color: #fff;
    }

    .sf-menu li a:hover {
        color: #EA1C66;
    }

    .sf-menu>li>a>span {
        display: inline-block;
        color: inherit;
        padding: 0;
    }

    .sf-menu li strong {
        position: absolute;
        display: block;
        background: url(../images/toogle-button2.png) center -54px no-repeat;
        top: 4px;
        right: 0;
        height: 24px;
        width: 24px;
    }

    .sf-menu li strong:hover {
        cursor: pointer;
    }

    .sf-menu li strong.opened {
        background-position: center 7px;
    }

    .sf-menu a, .sf-menu ul a {
        font: inherit;
        display: inline;
        border: none;
    }

    .sf-menu li a:hover {
    }

    .sf-menu ul, .sf-menu ul ul {
        width: auto;
        position: static;
        border: none;
        background: inherit;
        padding: 8px 0 0 20px;
        box-shadow: none;
    }

    #nav>li.sfHover>a, #nav>li>a:hover span, #nav>li.active>a {
        color: #EA1C66;
    }

    .nav-container {
        margin-bottom: 17px;
    }
}

@media only screen and (max-width: 767px) {
    .sf-menu li li.sfHover, .sf-menu li li, .sf-menu li li:hover, .sf-menu li li.last {
        padding: 0;
    }

    .sf-menu li li.last, .sf-menu li li a, .sf-menu li.sfHover li a, .sf-menu li.active li a {
        background: none;
    }

    #nav>li.sfHover>a span, #nav>li>a:hover span, #nav>li.active>a span {
        color: #FFC600;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #menu-icon {
        cursor: pointer;
        display: block;
        text-indent: 0px;
        background-position: 405px 11px;
    }

    #menu-icon.active {
        background-position: 405px -47px;
    }
}